html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.fade-background {
  height: 100vh;
  width: 100vw;
  animation: fadeToBlack 2s forwards 1s;
}


@keyframes fadeToWhite {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

@keyframes fadeToBlack {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

@keyframes fadeIn30 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .3;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-loader {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.full-screen-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn30 10s forwards 1s;
  opacity: 0;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 10s forwards 4s;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}