
.modal-overlay {
    position: absolute;
    top: 0;
    margin: 10em auto;
    z-index: 10;
    text-align: center;
}

.modal-close {
  position: absolute;
  width: 41px;
  right: 10px;
  top: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 2em;
  border: 2px solid #fff;
  background-color: #52646F;
}

.modal .content {
  margin: 2em 0;
  max-height: 85vh;
  overflow-y: auto;
  width: 100%;
  text-align: center;
}

.modal .content.grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.modal .title {
  font-style: italic;
  color: peachpuff;
}


.modal .instructions {
  background-color: #293c48;
  border-radius: 5px;
  color: yellow;
  font-weight: normal;
  padding: 1em;
}

.container.modal-open {
  opacity: .3;
}



@media (max-width: 800px) {
  .modal .content {
    display: none;
  }
}

@media (max-width: 950px) {
  .modal .content.grid {
    grid-template-columns: none;
  }
}