.audio-recorder {
  display: none !important;
}

.custom-audio-recorder {
  float: left;
  margin: 0 .4em;
}

.custom-audio-recorder button {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.custom-audio-recorder button i {
  color: #fff;
  font-size: 24px;
  margin-right: 0px;
}

.custom-audio-recorder button:hover i {
  color: #1e90ff;
}


.input-container {
  display: flex;
  align-items: center;
}

.input-container .MuiTextField-root {
  width: 90%;
}
